* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}
.main_container{
   position: relative;
   width: 100%;
   max-width: 1000px;
   min-height: 1000px;
   margin: 50px;
   background: rgb(49, 48, 48);
}

/* resume part one */
.section1 {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box1 {
    justify-content: flex-start;
}
.box2 {
    justify-content: flex-end;
}

/* resume part two */
.container .left {
    position: relative;
    padding: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.container .right {
    position: relative;
    padding: 40px;
}